<a href="https://colab.research.google.com/github/gauravpks/ml-repo/blob/master/IndustrialSafetyDS/Industrial_Accident_Causal_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/gauravpks/ml-repo/master/IndustrialSafetyDS/industrial_safety.csv")

In [6]:
df.head(3)

               Data  ...                                        Description
0  01-01-2016 00:00  ...  While removing the drill rod of the Jumbo 08 f...
1  02-01-2016 00:00  ...  During the activation of a sodium sulphide pum...
2  06-01-2016 00:00  ...  In the sub-station MILPO located at level +170...

[3 rows x 10 columns]