<a href="https://colab.research.google.com/github/gauravpks/ml-repo/blob/master/IndustrialSafetyDS/Industrial_Accident_Causal_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project Detail
>In this dataset, the information about accidents in 12 manufacturing plants in 3 countries are given by a brazilian company, [IHM Stefanini](https://en.ihm.com.br/). We need to use this dataset to understand why accidents occur, and discover clues to reduce tragedic accidents.<br/>
><p>Dataset columns are below:</p>
><ul>
><li><b>Date</b> : timestamp or time/date information</li>
><li><b>Countries</b> : which country the accident occurred (<b>anonymized</b>)</li>
><li><b>Local</b> : the city where the manufacturing plant is located (<b>anonymized</b>)</li>
><li><b>Industry sector</b> : which sector the plant belongs to</li>
><li><b>Accident level</b> : from I to VI, it registers how severe was the accident (I means not severe but VI means very severe)</li>
><li><b>Potential Accident Level</b> : Depending on the Accident Level, the database also registers how severe the accident could have been (due to other factors involved in the accident)</li>
><li><b>Genre</b> : if the person is male of female</li>
><li><b>Employee or Third Party</b> : if the injured person is an employee or a third party</li>
><li><b>Critical Risk</b> : some description of the risk involved in the accident</li>
><li><b>Description</b> : Detailed description of how the accident happened</li>
></ul>

In [4]:
import pandas as pd

#Reading Dataset

In [25]:
df = pd.read_csv("https://raw.githubusercontent.com/gauravpks/ml-repo/master/IndustrialSafetyDS/industrial_safety.csv")

In [26]:
df.head(3)

               Data  ...                                        Description
0  01-01-2016 00:00  ...  While removing the drill rod of the Jumbo 08 f...
1  02-01-2016 00:00  ...  During the activation of a sodium sulphide pum...
2  06-01-2016 00:00  ...  In the sub-station MILPO located at level +170...

[3 rows x 10 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data                      424 non-null    object
 1   Countries                 424 non-null    object
 2   Local                     424 non-null    object
 3   Industry Sector           424 non-null    object
 4   Accident Level            424 non-null    object
 5   Potential Accident Level  424 non-null    object
 6   Gender                    424 non-null    object
 7   Employee or Third Party   424 non-null    object
 8   Critical Risk             424 non-null    object
 9   Description               424 non-null    object
dtypes: object(10)
memory usage: 33.2+ KB

In [28]:
df.rename(columns={'Data':'Date', 'Countries':'Country', 'Employee or Third Party':'Employee Type'}, inplace=True)
df.head(3)

               Date  ...                                        Description
0  01-01-2016 00:00  ...  While removing the drill rod of the Jumbo 08 f...
1  02-01-2016 00:00  ...  During the activation of a sodium sulphide pum...
2  06-01-2016 00:00  ...  In the sub-station MILPO located at level +170...

[3 rows x 10 columns]

#Pre-Processing

Adding datetime features such as year,month and day

In [29]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].apply(lambda x : x.year)
df['Month'] = df['Date'].apply(lambda x : x.month)
df['Day'] = df['Date'].apply(lambda x : x.day)
df['Weekday'] = df['Date'].apply(lambda x : x.day_name())
df['WeekofYear'] = df['Date'].apply(lambda x : x.weekofyear)
df.head(3)

        Date         Country          Local  ... Day    Weekday WeekofYear
0 2016-01-01  United States   West Virginia  ...   1     Friday         53
1 2016-02-01          Canada        Alberta  ...   1     Monday          5
2 2016-06-01  United States        Kentucky  ...   1  Wednesday         22

[3 rows x 15 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      424 non-null    datetime64[ns]
 1   Country                   424 non-null    object
 2   Local                     424 non-null    object
 3   Industry Sector           424 non-null    object
 4   Accident Level            424 non-null    object
 5   Potential Accident Level  424 non-null    object
 6   Gender                    424 non-null    object
 7   Employee Type             424 non-null    object
 8   Critical Risk             424 non-null    object
 9   Description               424 non-null    object
 10  Year                      424 non-null    int64
 11  Month                     424 non-null    int64
 12  Day                       424 non-null    int64
 13  Weekday                   424 non-null    object
 14  WeekofYear                424 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(10)
memory usage: 49.8+ KB

Accordin to this discussion, countries where the dataset was collected is anonymized but they are all located in South America. So in this analysis, let's assume the dataset was collected in Brazil.
As per knowledge Brazil  has four climatological seasons as below.
Spring : September to November
Summer : December to February
Autumn : March to May
Winter : June to August
We can create seasonal variable based on month variable.

In [31]:
def month2seasons(x):
    if x in [9, 10, 11]:
        season = 'Spring'
    elif x in [12, 1, 2]:
        season = 'Summer'
    elif x in [3, 4, 5]:
        season = 'Autumn'
    elif x in [6, 7, 8]:
        season = 'Winter'
    return season

In [32]:
df['Season'] = df['Month'].apply(month2seasons)
df.head(3)

        Date         Country          Local  ...    Weekday WeekofYear  Season
0 2016-01-01  United States   West Virginia  ...     Friday         53  Summer
1 2016-02-01          Canada        Alberta  ...     Monday          5  Summer
2 2016-06-01  United States        Kentucky  ...  Wednesday         22  Winter

[3 rows x 16 columns]